 
    

#NAVROW{

    height: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    
}
#UNLOGO{
    margin: auto;
}
#LOGBN{
    margin-top: 18px; 
    padding-left: 27px;
    color: black;
}
#JOINBN{
    margin-top: 18px;
    padding-right: 17px;
}
#LOGA{
    color: black;
    border-style: solid;
    border-color: black;
    width: 120%;
}

#LOGB{
   background-color: black;
   color: white;
}
#ROUBN{
   border-radius: 250px;
    margin-top: 18px; 
    margin-left: 60px;;
   
}
#SECTION1{
    padding-top: 70px;
    padding-bottom: 0px;
}
#SECTION1ROW{
   height: 500px;
   
   padding: auto;
}
#HOMWPIC{
   padding-left: 10px;
   padding-right: 5px;
   
}
#HOMEPICCOL{
   padding-left: 20px;
   padding-right: 20px;
   
}
#HOMEIN{
    padding-left: 20px;
   padding-right: 20px;
   
   font-weight: 200;
}
#H1{
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
#DISPLAYH1{
    font-size: 60px;
    text-align: center;
}
#H2{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif !important;
}
#DISPLAYH2{
    
    margin-left: 10px;
}
#H2SUB{
    margin-top: 10px;
    
}
#H2SUB1{
    border-width: 0px;
    width:200px;
}
#H3{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    height: 60px;
    margin-left: 22px;
    margin-right: 22px;
}
#H4{
     margin-left: 22px;
     margin-top: 5px;
}
#DISPLAYH4{
    
   
}
#H5{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 20px;
    
}

#BTNH5{
    height: 45px;
}
#SECTION3{
    border-style: solid;
    border-color: black;
}
#SEC31{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 20px;
}
#SEC32{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 20px;
}
#SEC33{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 20px;
    height:60px;
}


#SEC34{
    margin-left: 22px;
    margin-top: 5px;
    margin-right: 20px;
    height:60px;
}
#SEC35{
    
}
#SEC36{
    
}
.ABC{
    height: 350px;
    align-content: center;
}
.BBB{
    margin: auto;
    width: 280px;
    height: 300px;
    padding: auto;
}
.ccc{
    width:40%;
    padding: auto;
    margin-top: 30%;
}
.DDD{
     display: flex;
     align-items: center;
     flex-direction: column;
}
a{
  text-decoration: none;
}
.FFF{
    margin-left: 10px;
}
.EEE{
    padding: auto;
    width: 210px;
    height: 45px;
}